* {
    -webkit-font-smoothning: antialiased;
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    margin: auto;
    width: 320px;
}

#icons {
    margin-top: 75px;
    margin-bottom: 65px;
}

.alignleft {
    float: left;
}

footer {
    font-size: 18px;
    float: left;
    margin-top: 28px;
    padding-bottom: 140px;
    width: 340px;
}

