
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Punya Vashist</title>
  <meta name="description" content="Need to edit">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="normal.css">
  <link rel="stylesheet" href="columns.css">
  <link rel="stylesheet" href="main.css">


</head>
<body>


  <div class="container animated fadeIn one">
      <nav>
        <div class="row group">
          <div class="sixteen columns">
            <div id="icons" class="alignleft">
          
            </div>
          </div>
        </div>
      </nav>

      <div class="row group">
        <div class="eight columns">
          <div id="dividers"><h1>HI THERE. I'M PUNYA,<br>I DO UX DESIGN<br>AT A PLACE CALLED <a href="https://learn-anything.xyz/" target="_blank">L-A.</a></h1><br></div>

          <body>I build interesting products with interesting people.</body>
        </div>
      </div>

      <div class="row group">
        <div class="sixteen columns">
          <footer>
            <a href="mailto:pnyvsh@gmail.com?subject=Hi!">Email</a>
            <a href="https://www.instagram.com/pnyvsh" target="_blank">Instagram</a>
            <a href="https://twitter.com/pnyvsh" target="_blank">Twitter</a>    
            <a href="https://www.github.com/pnyvsh" target="_blank">Github</a>
          </footer>
        </div>
      </div>

    </div>

</body>
</html>
